body {
  font-family: "Helvetica";
  background-color: #FFFFE0;
  color: #24292f;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  margin: 0% 5em;
}
table {
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
font-size: 18px;
border-collapse: collapse;
text-align: center;
}
th, td:first-child {
background: #FFDAB9;
color: black;
padding: 10px 20px;
}
th, td {
border-style: solid;
border-width: 0 1px 1px 0;
border-color: white;
}
td {
background: #FFE4B5;
}
th:first-child, td:first-child {
text-align: left;
}
.header {
  margin: 40px 0;
}

.header__avatar {
  border-radius: 50%;
}

.header__title {
  margin: 30px 0 10px 0;
  font-size: 32px;
  line-height: 1.2;
  font-family: "Helvetica Neue";
}

.header__subtitle {
  color: #24292f;
  font-size: 16px;
  line-height: 1.4;
  margin: 15;
}

.links {
  width: 350px;
  margin-bottom: 40px;
}

.links__header {
  font-family: "Helvetica Neue";
  font-size: 24px;
  line-height: 1.4;
  margin: 0 0 15px 0;
}

.links__container {
  background-color: #fff;
  list-style-type: none;
  border: 1px solid hsla(210, 18%, 87%, 1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 20px 10px;
  gap: 10px;
  flex: none;
  order: 1;
  flex-grow: 0;
  box-sizing: border-box;
  margin: 0px;
}

.links__link,
.links__title {
  font-size: 14px;
  font-size: 1.4;
  color: #57606a;
}

.links__link {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 0px 10px;
  gap: 30px;
  border-bottom: 1px solid hsla(210, 18%, 87%, 1);
  width: 280px;
}

.links__link:last-child {
  border-bottom: none;
}

.linsk__link,
.links__link:visited {
  text-decoration: none;
  color: #0969da;
}

.links__title {
  margin: 0;
  min-width: 100px;
}

